@model IEnumerable<PPFF.Models.Articulo>

@{
    ViewBag.Title = "Articulos";
}

<h2>Articulos</h2>

<br />


<p>
   <a name="addBtn" class="btn" style="background: #a0c2ff; color: #000000;" href="@Url.Action("Create", "Articulos")">Crear Articulo</a>
</p>

<br />

<div>
    <form id="searchFi" method="post">

        <span>
            <input type="text" id="searchbx"  style="max-width: 110px"  name="search" />
            <input type="submit" id="searchbt"  value="buscar" />
        </span>
    </form>
</div>

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio_unidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio_unidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            <a name="addBtn" class="btn btn-xs" style="background: #a0c2ff; color: #000000" href="@Url.Action("Edit", "Articulos", new { id = item.ID })">Editar</a> |
            <a name="addBtn" class="btn btn-xs" style="background: #a0c2ff; color: #000000" href="@Url.Action("Details", "Articulos", new { id = item.ID })">Detalles</a> |
            <a name="addBtn" class="btn btn-xs" style="background: #a0c2ff; color: #000000" href="@Url.Action("Delete", "Articulos", new { id = item.ID })">Borrar</a> |
            <a name="addBtn" class="btn btn-xs" style="background: #a0c2ff; color: #000000" href="@Url.Action("Add", "Articulos", new { id = item.ID })">Añadir</a>


        </td>
    </tr>
}

</table>
