@model PPFF.Models.Asientos_Contables

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Asientos_Contables</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_Contabilidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Contabilidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Auxiliar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Auxiliar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo_Moneda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_Moneda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuenta_CR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuenta_CR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoCR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoCR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuenta_DB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuenta_DB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoDB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoDB)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
