@model PPFF.Models.Asientos_Contables

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Asientos_Contables</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_Contabilidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Contabilidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Auxiliar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Auxiliar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo_Moneda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_Moneda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuenta_CR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuenta_CR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoCR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoCR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuenta_DB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuenta_DB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoDB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoDB)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
