@model IEnumerable<PPFF.Models.Asientos_Contables>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_Contabilidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_Auxiliar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo_Moneda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_CR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MontoCR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_DB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MontoDB)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Contabilidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Auxiliar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo_Moneda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_CR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MontoCR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuenta_DB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MontoDB)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.ID }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @*@Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
        </td>
    </tr>
}

</table>
