@model IEnumerable<PPFF.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes</h2>

<p>
    <a name="addBtn" class="btn" style="background: #a0c2ff; color: #000000;" href="@Url.Action("Create", "Clientes")">Crear Cliente</a>
</p>

<br />

<div>
    <form id="searchFi" method="post">

        <span>
            <input type="text" id="searchbx" style="max-width: 110px" name="search" />
            <input type="submit" id="searchbt" value="buscar" />
        </span>
    </form>
</div>

<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuenta_contable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuenta_contable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a name="addBtn" class="btn btn-xs" style="background: #a0c2ff; color: #000000" href="@Url.Action("Edit", "Clientes", new { id = item.ID })">Editar</a> |
                <a name="addBtn" class="btn btn-xs" style="background: #a0c2ff; color: #000000" href="@Url.Action("Details", "Clientes", new { id = item.ID })">Detalles</a> |
                <a name="addBtn" class="btn btn-xs" style="background: #a0c2ff; color: #000000" href="@Url.Action("Delete", "Clientes", new { id = item.ID })">Borrar</a> |

            </td>
        </tr>
    }

</table>
